{% load i18n %}
{% load l10n %}
{% load static from staticfiles %}


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title> Messaging {% block title %}{% endblock title %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="{% static 'vendor/semanticui/semantic.min.css' %}">

		{% block css %}
			
		{% endblock css %}

	</head>
	
	<body>
		
		<div class="ui fixed top attached menu" style="height:65px; background-color: #2E4A62; margin-top:0;">
				
		</div>
		<div class="pushable">
			<div class="pusher">
					<div class="content" style="margin-top: 100px;">
					{% block content %}
						<!--Include your content here-->
					{% endblock content %}
				</div>
			</div>
			</div>
		</div>
		
	</body>

	<!--Third party dependencies-->
	<script src="{% static 'vendor/jquery/jQuery.v3.1.1.min.js' %}"></script>
	<script src="{% static 'vendor/semanticui/semantic.min.js' %}"></script>

	 <script src="{% static 'js/project.js' %}"></script>

	{% block jsdependencies %}
	{% endblock jsdependencies %}

	{% block javascript %}
		
	{% endblock javascript %}
</html>
